html,
body,
.container-table {
    height: 45%;
    width: 100%;
    background-color: gray;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#home {
    color: white;
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
}

#front-page {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(255, 80, 80, 0.9), rgba(0, 0, 0, 0.1)), URL('') no-repeat center;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    #home {
        text-align: center;
        font-size: 40px;
    }
}

@media only screen and (min-width:992px) {
    #home {
        font-size: 50px;
    }
}

@media only screen and (min-width:1200px) {
    #home {
        font-size: 62px;
    }
}