.navbar {
    font-family: 'Kavoon', cursive;
    font-size: 20px;
    background-color: rgba(114, 243, 170, 0.6);
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .nav {
        font-size: 21.4px;
    }
}

@media only screen and (min-width: 992px) {
    .nav {
        font-size: 29.1px;
    }
}

@media only screen and (min-width: 1200px) {
    .nav {
        font-size: 36.7px;
    }
}